.env
.env.local
.env.*.local
/node_modules
/public/uploads

**/dist/
*.dev.js
.DS_Store
node_modules/
dist/

/ai_integration/rag_chatbox/__pycache__/
/ai_integration/rag_chatbox/vector_db_categories
/ai_integration/rag_chatbox/vector_db_products