extends ../../layout/default.pug
include ../../mixins/alert.pug

block main
    link(rel="stylesheet" href="/client/styles/css/404.css")
    +alert(messages)

    .container.my-5
        .row.justify-content-center.page-404
            .col-md-10.col-lg-6
                .card.page-404__card
                    .card-body.text-center

                        h1.page-404__code 404

                        h3.page-404__title Page Not Found

                        p.page-404__desc
                            | The page you are looking for does not exist 
                            br
                            | or has been moved.

                        .page-404__actions
                            button.btn.back(type="button" onclick="window.history.back()") Go Back
                            a.btn.home(href="/") Home