.sider 
    .sider-menu
        ul
            li
                a(href = prefixAdmin + "/dashboard") 
                    i.fas.fa-tachometer-alt
                    |  Dashboard
            li
                a(href = prefixAdmin + "/products") 
                    i.fas.fa-boxes
                    |  Products
            li
                a(href = prefixAdmin + "/orders") 
                    i.fas.fa-shopping-cart
                    |  Orders
            li
                a(href = prefixAdmin + "/customers") 
                    i.fas.fa-users
                    |  Customers
            li
                a(href = prefixAdmin + "/categories") 
                    i.fas.fa-tags
                    |  Categories