.sider 
    .sider-menu
        ul
            li
                a(href = prefixAdmin + "/dashboard") 
                    i.fas.fa-tachometer-alt
                    |  Tổng quan
            li
                a(href = prefixAdmin + "/products") 
                    i.fas.fa-boxes
                    |  Sản phẩm
            li
                a(href = prefixAdmin + "/orders") 
                    i.fas.fa-shopping-cart
                    |  Đơn hàng
            li
                a(href = prefixAdmin + "/customers") 
                    i.fas.fa-users
                    |  Khách hàng
            li
                a(href = prefixAdmin + "/categories") 
                    i.fas.fa-tags
                    |  Danh mục