link(rel="stylesheet" href="/admin/styles/css/sider.css")
.sider 
    .sider-menu
        ul
            li
                a(href = prefixAdmin + "/dashboard") 
                    i.fas.fa-tachometer-alt
                    |  Dashboard
            if (role.permissions.includes("product-view"))
                li
                    a(href = prefixAdmin + "/products") 
                        i.fas.fa-boxes
                        |  Products
            if (role.permissions.includes("order-view"))
                li
                    a(href = prefixAdmin + "/orders") 
                        i.fas.fa-shopping-cart
                        |  Orders
            if (role.permissions.includes("account-view"))
                li
                    a(href = prefixAdmin + "/accounts") 
                        i.fas.fa-users
                        |  Accounts
            if (role.permissions.includes("category-view"))
                li
                    a(href = prefixAdmin + "/categories") 
                        i.fas.fa-tags
                        |  Categories
            if (role.permissions.includes("role-view"))
                li
                    .auth-menu
                        button.auth-menu__btn(type="button" aria-haspopup="true" aria-expanded="false" aria-label="Authorization Menu")
                            i.fas.fa-keys
                            span Authorization
                        .auth-menu__dropdown
                            a.auth-menu__item(href=`${prefixAdmin}/roles`)
                                i.fas.fa-shield-alt
                                span Roles
                            a.auth-menu__item(href=`${prefixAdmin}/roles/permissions`)
                                i.fas.fa-lock
                                span Permissions
            li
                a(href = prefixAdmin + "/settings/general") 
                    i.fas.fa-cog
                    |  Settings

script(src="/admin/js/sider.js")