extends ../../layout/default.pug
include ../../mixins/alert.pug

block main
    link(rel="stylesheet" href="/client/styles/css/user.css")
    +alert(messages)
    .container(style="margin-top: 60px; margin-bottom: 60px;")
        .col-md-4.mx-auto
            .row
                .col-md-6.form-box
                    h3.login__title Forgot Password
                    p.login__subtitle Enter your email to reset your password.
                    form.login__form(method="POST" action="/user/password/forgot-password")
                        .login__form-group
                            label(for="email") Email
                            input#email(type="text" name="email")
                        button.login__submit(type="submit") Reset Password
                        button.login__cancel(type="button" onclick="window.location.href='/user/login'") Cancel
                    