extends ../../layout/default.pug
include ../../mixins/alert.pug

block main
    link(rel="stylesheet" href="/client/styles/css/user.css")
    +alert(messages)
    .container(style="margin-top: 60px; margin-bottom: 60px;")
        .col-md-4.mx-auto
            .row
                .col-md-6.form-box
                    h3.login__title OTP Verification
                    p.login__subtitle Enter the OTP sent to your email.
                    form.login__form(method="POST" action="/user/password/otp")
                        .login__form-group
                            label(for="email") Email
                            input#email(type="text" name="email" value=email readonly style="background-color: #e9ecef;")
                        .login__form-group
                            label(for="otp") OTP
                            input#otp(type="text" name="otp")
                        button.login__submit(type="submit") Verify OTP
                        button.login__cancel(type="button" onclick="window.location.href='/user/login'") Cancel
                    