extends ../../layout/default.pug
include ../../mixins/alert.pug

block main
    link(rel="stylesheet" href="/client/styles/css/user.css")
    +alert(messages)
    .container(style="margin-top: 60px; margin-bottom: 60px;")
        .col-md-4.mx-auto
            .row
                .col-md-6.form-box
                    h3.login__title Reset Password
                    p.login__subtitle Enter your new password.
                    form.login__form(method="POST" action="/user/password/reset-password")
                        .login__form-group
                            label(for="newPassword") New Password
                            input#newPassword(type="password" name="newPassword")
                        .login__form-group
                            label(for="confirmPassword") Confirm Password
                            input#confirmPassword(type="password" name="confirmPassword")
                        button.login__submit(type="submit") Reset Password
                        button.login__cancel(type="button" onclick="window.location.href='/user/login'") Cancel
