section.header
    .container
        .header__wrapper
            a.header__logo(href="/")
                img(src="/client/images/logo3rd.png" alt="image")

            nav.header__nav
                a.header__nav-item(href="/") HOME
                a.header__nav-item(href="/product") PRODUCT
                a.header__nav-item(href="/category") CATEGORY 
                a.header__nav-item(href="/blogs") BLOGS
                a.header__nav-item(href="/pages") PAGES

            .header__info
                //- Search
                button.header__info-icon--close.btn-close(
                    type='button' 
                    aria-label='Close' 
                )
                form.header__info-search(action="/product" method="GET")
                    input(type="text" name="keyword" placeholder="Search for products")
                button.header__info-icon.header__info-icon--search
                    i.fa-solid.fa-magnifying-glass
                
                button.header__info-icon.header__info-icon--favourite
                    i.fa-regular.fa-heart

                //- Cart
                a.header__info-icon.header__info-icon--cart(href="/cart") 
                    i.fa-solid.fa-cart-shopping
                    div.cart-quantity #{cartQuantity || 0}
                button.header__info-icon.header__info-icon--profile 
                    i.fa-solid.fa-user


script(src="/client/js/header.js")