
section.header
    .container
        .header__wrapper
            img.header__logo(
               src="/images/logo2rd.png" alt="image" 
            )

            nav.header__nav
                a.header__nav-item(href="#") HOME
                a.header__nav-item(href="#") SHOP
                a.header__nav-item(href="#") COLLECTION
                a.header__nav-item(href="#") BLOGS
                a.header__nav-item(href="#") PAGES

            .header__info
                i.header__info-icon.header__info-icon--search.fa-solid.fa-magnifying-glass
                i.header__info-icon.header__info-icon--favourite.fa-regular.fa-heart
                i.header__info-icon.header__info-icon--cart.fa-solid.fa-cart-shopping
                i.header__info-icon.header__info-icon--profile.fa-solid.fa-user