section.header
    .container
        .header__wrapper
            img.header__logo(
               src="/client/images/logo3rd.png" alt="image" 
            )

            nav.header__nav
                a.header__nav-item(href="/") HOME
                a.header__nav-item(href="/shop") SHOP
                a.header__nav-item(href="/category") CATEGORIES
                a.header__nav-item(href="/blogs") BLOGS
                a.header__nav-item(href="/pages") PAGES

            .header__info
                i.header__info-icon.header__info-icon--search.fa-solid.fa-magnifying-glass
                i.header__info-icon.header__info-icon--favourite.fa-regular.fa-heart
                i.header__info-icon.header__info-icon--cart.fa-solid.fa-cart-shopping
                i.header__info-icon.header__info-icon--profile.fa-solid.fa-user