doctype html 
html
  head
    title #{pageTitle}
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/client/styles/css/style.css")
    link(rel="stylesheet", href="/chatbox/styles/css/style.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css")
  body

    include ../partial/header.pug

    block main

    include ../partial/footer.pug

    include ../partial/chatbox.pug

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js")
    //- script(src="/client/js/script.js")
    script(src="/chatbox/js/chatbox.js")