extend ../../layout/default.pug

block main 
    section.section-category-list
        .container
            .section-category-list__wrapper
                each category in categories
                    a.section-category-list__item(href=`/product?category=${category.slug}`)
                        .section-category-list__item-image
                            img(src=category.imgUrl, alt=category.title)
                            
                        .section-category-list__item-content
                            .section-category-list__item-title
                                h6= category.title
                            .section-category-list__item-button
                                button Shop now

                