extend ../../layout/default.pug

block main 
    .container
        a.coll-block(href='/category/suitcasess')
            .collection-img
                img(src='http://localhost:3000/uploads/1773421519032-3x7ardem8.webp' alt='suitcases')
                
            .collection-content
                .content
                h6 Suitcase
                span.shop-btn Shop now
