.header {
    background-color: rgba(51, 50, 50, 0.8);
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    color: white;
}

.header .logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.sider {
    width: 150px;
    background-color: rgba(51, 50, 50, 0.679);
    color: white;
    height: calc(100vh - 50px);
    position: fixed;
    top: 55px;
    left: 0;
}

.body .main {
    margin: 15px;
    position: relative;
    left: 150px;
    width: calc(100% - 150px);
}

.sider ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sider ul li {
    /* text-align: center; */
    padding: 5px;
    cursor: pointer;
    color: white;
}

.sider ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sider ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Trang quản lý sản phẩm */
.item-title {
    width: 300px;

    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
}

.item-price {
    font-weight: bold;
}

.item-img {
    width: 200px;
    height: 200px;
}

.item-action a {
    margin-right: 10px;
}

td {
    vertical-align: middle;
}

.badge.badge-success {
    background-color: green;
    color: white;
    height: 25px;
    align-content: center;
    text-transform: capitalize;
    text-decoration: none;
}

.badge.badge-danger {
    background-color: red;
    color: white;
    height: 25px;
    align-content: center;
    text-transform: capitalize;
    text-decoration: none;
}

.table-header th {
    background-color: #707b86;
    color: white;
}

.filter {
    border: solid 1px #ccc;
    width: 60%;
    /* background-color: aquamarine; */
}

.filter .filter-title {
    background-color: #707b86;
    padding: 5px 10px;
    border-bottom: solid 1px #ccc;
    color: white;
}

.custom-group .btn-primary.active {
    background: red;
}

.filter .filter-content {
    padding: 10px;
    text-align: center;

}

.filter .filter-content .filter-buttons {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.filter .filter-content .form-floating {
    display: flex;
    justify-content: center;
    /* background-color: yellow; */
}

.filter .filter-content .form-floating form {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 40px;
    width: 350px;
}

.filter .filter-content .form-floating input {
    padding: 0 10px;
    border: solid 1px #ccc;
    border-radius: 10px;
}


.filter .filter-content .btn {
    width: 70px;
    margin-right: 10px;
    background-color: white;
    color: #707B86;
    border: solid 1px #707B86;
    font-size: 14px;
    text-align: center;
}

.filter .filter-content .active {
    background-color: #707B86;
    color: white;
}

.filter .filter-content .btn:last-child {
    margin-right: 0;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination .page-item {
    margin: 0 2px;
    /* width: 40px; */
}

.pagination .page-item .page-link {
    display: block;
    padding: 5px 10px;
    border: solid 1px #ccc;
    color: #707B86;
    text-decoration: none;
}

.pagination .page-item .page-link:hover {
    background-color: rgba(112, 123, 134, 0.2);
}

.pagination .page-item .page-link:active {
    background-color: #707B86;
    color: white;
}

.pagination .page-item.active .page-link {
    background-color: #707B86;
    color: white;
}